@font-face {
  font-family: "Title";
  src: url("./assets/fonts/cy-grotesk-key-medium.ttf");
}
@font-face {
  font-family: "Paragraph";
  src: url("./assets/fonts/Questrial.ttf");
}
:root {
  --color-primary: #adff29;
  --color-secondary: #7f00ff;
  --color-tertiary: #262103;
  --swiper-navigation-size: 60px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Title";
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.swiper-button-next {
  position: absolute !important;
  font-weight: 900;
  text-shadow: 1px 1px 5px #000;
  color: #000 !important;
}
.swiper-button-prev {
  color: #000 !important;
  font-weight: 900;
  text-shadow: 1px 1px 5px #000;
}
